body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1000vh;
    color: white;
}
.blurry-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    z-index: 10; /* Ensure the navbar stays above other content */
  }
  
 nav {
    display: flex;
    
    align-items: center;
    height: 100px; /* Adjust the height of the navbar as needed */
  }
  
#logo {
    width: 100px; 
  margin-left: 30px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.295);
}

.container12 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px; 
}

.container12 h1 {
    margin: 0 10px; 
    font-size: 50px;
    position: absolute;
    top: 35px;
    left: 600px;
    filter: drop-shadow(2px 1px 2px rgb(226, 172, 13));
    animation: translateLoop 7s linear infinite; 
}
@keyframes translateLoop {
    0% {
        transform: translateX(-300%); /* Start position */
    }
    100% {
        transform: translateX(300%); /* End position */
    }
}

.button1 {
   width: 150px;
   height: 40px;
   font-family: serif ;
   border-radius: 20px;
   border: none;
   box-shadow: 3px 3px 6px rgb(67, 67, 67);
   font-size: 15px;
   z-index: 1;
   cursor: pointer;
   overflow: hidden;
   position: absolute;
   top: 30px;
   right: 170px;
   
   

}
.button1::before{
    content: "";
    width:0;
    height:40px;
    border-radius:20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right,rgb(226, 172, 13),rgb(236, 208, 127)100%) ;
    z-index: -1;
    transition: .5s ease-in-out;
    display: block;
}
.button1:hover::before{
    width: 150px;
}
.button2 {
    width: 150px;
    height: 40px;
    font-family: serif ;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 6px rgb(67, 67, 67);
    font-size: 15px;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 30px;
    right: 10px;
    
    
 
 }
 .button2::before{
     content: "";
     width:0;
     height:40px;
     border-radius:20px;
     position: absolute;
     top: 0;
     left: 0;
     background-image: linear-gradient(to right,rgb(226, 172, 13),rgb(236, 208, 127)100%) ;
     z-index: -1;
     transition: .5s ease-in-out;
     display: block;
 }
 .button2:hover::before{
     width: 150px;
 }
 #video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;}

.container{
   
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.imgContainer{
    min-width: 50%;
    min-height: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.slide_div>img{
    position: relative;
    height: 300px;
    width: 200px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button{
    position: absolute;
    width: 200px;
    height: 300px;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#slider1:target ~ .imgContainer #img1,
#slider1:target ~ .imgContainer #button1{
    width: 350px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider2:target ~ .imgContainer #img2,
#slider2:target ~ .imgContainer #button2{
    width: 350px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider3:target ~ .imgContainer #img3,
#slider3:target ~ .imgContainer #button3{
    width: 350px;
    height: 500px;;
    background-color: transparent;
    filter: saturate(100%);
}

#slider4:target ~ .imgContainer #img4,
#slider4:target ~ .imgContainer #button4{
    width: 350px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider1:target ~ .imgContainer{
    left: 40%;
}
#slider2:target ~ .imgContainer{
    left: 20%;
}
#slider3:target ~ .imgContainer{
    left: 0%;
}
#slider4:target ~ .imgContainer{
    left: -20%;
}